/* main content */
.modal-open {
	overflow-y: visible;
	.modal {
		overflow: auto;
	}
}

.fancybox-enabled {
	overflow: visible;
	body {
		overflow-x: hidden;
	}
}

/* main slider */
.slider {
	margin-bottom: 0px!important;
	.slick-slide {
		overflow: hidden;
		position: relative;
		outline: none;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		.slider__block {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			text-align: center;
			color: #fff;
            margin: 0 auto;
            transform: translateY(-50%);
		}
	}
	.slick-dots {
		bottom: 30px;
		li {
			width: 26px;
			height: 26px;
			margin: 0 7.5px;
			border: 2px solid #fff;
			border-radius: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			button {
				width: 12px;
				height: 12px;
				background: #fff;
				border-radius: 100%;
                transition: 300ms;
				&:before {
					display: none;
				}
				&:hover {
					background-color: #fff;
				}
			}
			&.slick-active {
			border: 2px solid #333;

				button {
					background-color: #333;
				}
			}
		}
	}
}




.rel {position: relative; overflow: hidden;}



.rel1 {
	height: 60vh;
	min-height: 550px;
	.container {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.subtitle {
		letter-spacing: 0.25px;
		font-size: 42px;
		line-height: 115%;
		font-family: $robreg;
		margin-bottom: 30px;
	}
}

.rel1desc {
	font-size: 20px;
	max-width: 690px;
	line-height: 32px;
	letter-spacing: 0.75px;
	margin-bottom: 45px;
}

.side-comp {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}


.what {
	&_card {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px 55px 60px;
		background: #FFFFFF;
		box-shadow: -11px 10px 12px rgba(0, 0, 0, 0.08), 
		0px 1px 1px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		overflow: hidden;
		text-align: center;
		letter-spacing: 0.25px;
		line-height: 1.4;
		transition: 300ms ease-out;
		cursor: default;

		&:hover {
			transform: scale(1.05);
		}

		.b1, .b2, .b3 {position: absolute;}

		.ico-cont {
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #FFFFFF;
			box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.13), 0px 1px 1px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(6px);

			border-radius: 20px;

			margin-bottom: 16px;

			img {
				width: 42px; height: 42px;
				object-fit: contain;
				object-position: center;
			}
		}

		&--var1 {
			.b1 {
				left: -62px;
				top: -83px;
				animation: shakeb1 20s infinite ease-in-out alternate;
			}

			.b2 {
				bottom: -70px;
				right: -64px;
				transform: rotate(-135deg);
				width: 162px;
				height: 129px;
				object-fit: contain;
				animation: shakeb2 20s infinite ease-in-out alternate;

			}
		}

		&--var2 {
			.b1 {
				left: -56px;
				top: -56px;
				width: 158px;
				// height: 85px;
				object-fit: contain;
				object-position: center;
				transform: rotate(10deg);
				animation: shakeb3 15s infinite ease-in-out alternate;
			}

			.b2 {
				top: 52px;
				right: -50px;
				width: 118px;
				height: 98px;
				object-fit: contain;
				object-position: center;
				transform: rotate(108deg);
				animation: shakeb4 15s infinite ease-in-out alternate;
			}

			.b3 {
				width: 175px;
				height: 140px;
				object-fit: contain;
				object-position: center;
				left: -55px;
				bottom: -75px;
				transform: rotate(-99deg);
				animation: shakeb5 15s infinite ease-in-out alternate;
			}
		}

	}

	&_title {
		font-family: $robbold;
		font-size: 21px;
		color: #444444;
		letter-spacing: 0.75px;
		text-align: center;
		margin-bottom: 10px;
	}
}

@keyframes shakeb1 {
	0% {transform: rotate(10deg);}
	25% {transform: rotate(10deg) translate(-15px, -5px);}
	50% {transform: rotate(10deg) translate(0px, -10px);}
	75% {transform: rotate(10deg) translate(10px, 0px);}
	100% {transform: rotate(10deg);}
}

@keyframes shakeb2 {
	0% {transform: rotate(135deg);}
	25% {transform: rotate(135deg) translate(15px, 15px);}
	50% {transform: rotate(135deg) translate(0px, 20px);}
	75% {transform: rotate(135deg) translate(-10px, 5px);}
	100% {transform: rotate(135deg);}
}

@keyframes shakeb3 {
	0% {transform: rotate(10deg);}
	25% {transform: translate(-10px, -10px)rotate(10deg);}
	50% {transform: translate(0px, 0px) rotate(10deg) ;}
	75% {transform: translate(-5px, 10px) rotate(10deg);}
	100% {transform: rotate(10deg);}
}

@keyframes shakeb4 {
	0% {transform: rotate(108deg);}
	25% {transform: translate(10px, 15px) rotate(108deg);}
	50% {transform: translate(-5px, 5px) rotate(108deg);}
	75% {transform: translate(-10px, 5px) rotate(108deg);}
	100% {transform: rotate(108deg);}
}

@keyframes shakeb5 {
	0% {transform: rotate(-99deg);}
	25% {transform: translate(25px, 20px) rotate(-99deg);}
	50% {transform: translate(0px, 5px) rotate(-99deg);}
	75% {transform: translate(-15px, 5px) rotate(-99deg);}
	100% {transform: rotate(-99deg);}
}


@keyframes decorshake {
	0% {transform: translate(0px, 0px);}
	25% {transform: translate(-15px, -5px);}
	50% {transform: translate(0px, -10px);}
	75% {transform: translate(10px, 0px);}
	100% {transform: translate(0px, 0px);}

}

.decor1, .decor2 {position: absolute; z-index: -1;}

.decor1 {
	animation: decorshake 20s infinite ease-in-out alternate;
}

.decor2 {
	right: calc(50% - 770px);
	bottom: -20px;
	top: auto;
	animation: decorshake 20s infinite ease-in-out alternate;

}
.complgrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px 80px;
	.span2 {grid-column: span 2;}

	h2 {
		text-align: left;
		&:after {left: 0; transform: translateX(0);}
	}
}

.lico {
	&_card {
		background: #FFFFFF;

		box-shadow: -20px 20px 32px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(6px);

		border-radius: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 32px 20px;
		text-align: center;

		font-family: $robmed;
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.25px;
		line-height: 1.4;
		cursor: default;

		transition: 300ms;
		&:hover {
		box-shadow: -20px 20px 32px rgba(0, 0, 0, 0.06), 
		0px 1px 1px rgba(0, 0, 0, 0.1),
		0 2px 4px rgba($color: $blue, $alpha: .5);
		transform: translateY(-10px);
		}

		img {
			width: 110px;
			height: 110px;
			object-position: center;
			object-fit: contain;
			margin-bottom: 20px;
		}
		.cico {
			width: 135px;
			height: 135px;
		}
	}
}

.try1 {margin-top: -70px; margin-bottom: 70px;}
.try2 {margin-top: -35px; margin-bottom: 35px;}


.rel5 {
	text-align: center;
	.container {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
	}
	.decor1 {
		top: 200px;
		left: calc(50% - 980px);
	}
	.decor2 {
		top: 173px;
		right: calc(50% - 760px);
	}

	.cards_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		flex-grow: 1;
		padding-bottom: 50px;
		padding-left: 260px;
		padding-right: 120px;
	}

	.what_card {
		height: 280px; font-family: $robmed; max-width: 210px;

		padding: 24px 10px 46px;
	}


}

.price {color: $blue;}

@media(min-width: 1670px) {
	.rel5 {
		.decor1 {
			width: 45vw;
			left: -190px;
		}
		.decor2 {
			width: 23vw;
			right: -30px;
		}
		.cards_row {
			width: max-content;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.what_card {margin: 0 29px;} 
	}
}

.tac {text-align: center;}

.top-title {
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-family: $robmed;
	font-size: 14px;
	color: #7A7A7A;
	margin-bottom: 10px;
}

.tarif {
	&_card {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: flex-start;
		align-items: flex-start;

		background: #FFFFFF;
		box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(6px);

		border-radius: 20px;

		transition: 300ms ease-out;
		padding: 42px 0 0;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			transform: translateY(-10px);
		}

		b {font-family: $robbold;}
		.small {font-size: 14px;}

		.cont {
			padding: 0 42px 0;
			.flex:last-child {margin-bottom: 24px;}
		}
		.price {
			display: inline;
			text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
			letter-spacing: 0.25px;
			font-size: 28px;
			font-family: $robbold;
			sup {
				font-size: 12px;
			}
		}
		.p-flex {
			font-size: 14px;
			color: #7a7a7a;
			& div + div {margin-left: 25px;}
		}

		.ico-cont {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 60px;
			height: 60px;
			display: grid;
			place-items: center;
			background: #FFFFFF;
			box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(6px);

			border-radius: 20px;
			transition: 300ms ease-out;

			
			img {
				width: 24px; height: 24px;
				object-fit: contin; 
				filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
				object-position: center;
			}

			&:hover {transform: scale(1.03);}
		}

		.point {
			width: 24px;
			height: 24px;
			background-color: rgba($color: #e8e8e8, $alpha: .25);
			display: grid;
			place-items: center;
			border-radius: 50%;
			margin-right: 8px;
			img {
				max-width: 12px; max-height: 12px;
				object-fit: contain;
				object-position: center;
			}
		}

		.flex + .flex {margin-top: 24px;}
	}

	&_title {
		font-size: 24px;
		line-height: 125%;

		letter-spacing: 0.5px;
		color: #121212;

		font-family: $robmed;
		text-transform: uppercase;
		max-width: 75%;
		margin-bottom: 5px;
	}

	&_bottom {
		width: 100%;
		margin-top: auto !important;
		padding: 24px 42px;
		color: #fff;
		font-family: $robbold;
		font-size: 18px;
		letter-spacing: .5px;
		background: linear-gradient(266.56deg, #FFCB35 0%, #FF0066 141.14%);
		background-size: 200%;
		background-position: 50% 0;
		animation: lazyg 3s ease-in-out infinite alternate;
		animation-play-state: paused;
		cursor: pointer;
		&:hover {
			color: #fff;
			animation-play-state: running;
			.mtr {
				animation-play-state: running;
			}
		}
	}
}

@keyframes lazyg {
	0% {background-position: 50% 0;}
	25% {background-position: 0% 0;}
	50% {background-position: 25% 0;}
	75% {background-position: 75% 0;}
	100% {background-position: 100% 0;}
}


.mtr {
	position: relative;
	animation: mtr 1.7s linear infinite;
	animation-play-state: paused;
	animation-fill-mode: both;
}

@keyframes mtr {
	0% {transform: translateX(0); opacity: 1;}
	50% {transform: translateX(8px); opacity: .7;}
	75% {transform: translateX(12px); opacity: 0;}
	80% {transform: translateX(-5px); opacity: 0;}
	90% {transform: translateX(-2); opacity: 0.5;}
	100% {transform: translateX(0); opacity: 1;}

}

.grid4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.wide-card  {
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	padding: 42px 40px;

	.flex + .flex {margin-top: 0;}
	&:hover {transform: translateY(0); cursor: default;}
	.tarif_title {
	text-transform: none;
	margin-bottom: 14px;
}
	.b1, .b2 {position: absolute;}

	.b1 {
		top: -96px; left: -52px;
		z-index: -1;
		transform: rotate(15deg);
		animation: wcont1 15s linear alternate infinite;
	}

	.b2 {
		bottom: -80px; right: -37px;
		z-index: -1;
		transform: rotate(-135deg);
		animation: wcont2 20s linear alternate infinite;
		width: 162px;
		object-fit: contain;
		object-position: center;
	}
}

@keyframes wcont1 {
	0% {transform: rotate(15deg);}
	25% {transform: rotate(15deg) translate(-15px, -5px);}
	50% {transform: rotate(5deg) translate(0px, -10px);}
	75% {transform: rotate(20deg) translate(10px, 0px);}
	100% {transform: rotate(15deg);}
}

@keyframes wcont2 {
	0% {transform: rotate(-135deg);}
	25% {transform: translate(-15px, -10px) rotate(-130deg);}
	50% {transform: translate(-5px, -6px) rotate(-135deg) ;}
	75% {transform: translate(30px, 10px) rotate(-145deg) ;}
	100% {transform: rotate(-135deg);}
}

.rel6 {
	margin-top: 50px;
	.decor1 {
		width: 291px;
		height: 280px;
		left: calc(50% - 690px);
		top: -40px;
	}

	.decor2 {
		width: 191px;
		height: 160px;
		left: calc(50% - 350px);
	}
	h2 {
		text-align: left;
		&:after {left: 0; transform: translateX(0);}
	}

	.txt {margin-left: 90px;}

	.btn {margin-top: 70px;}
}

.directors-img {
	will-change: transform;
	transition: 300ms ease-out;
	transform: perspective(500px);
	&:hover {
		transform: perspective(500px) translateZ(8px) rotateY(3.5deg);
	}
}

.rel7 {
	background-color: #fff;
	line-height: 24px;
	letter-spacing: 0.25px;

	.guy {
		position: absolute;
		bottom: 0;
		right: calc(50% - 500px);
		height: 90%;
		object-fit: contain;
		object-position: right bottom;
	}
	.container {
		padding-top: 80px; padding-bottom: 120px;
	}

	h2 {
		text-align: left;
		padding-bottom: 30px;
		&:after {
			left: 0;
			transform: translateX(0);
		}
	}
}

.offer {
	background: linear-gradient(259.14deg, #FFCB35 9.85%, #FFA13F 56.4%, #FF7E48 123.71%, #FF0066 147.34%);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px -4px 20px rgba(0, 0, 0, 0.2);
}

.sl-decor {
	position: absolute;
	max-height: 90%;
	object-fit: contain;
}

.services {
	&_slider {
		color: #fff;
		h1,h2,h3,h4, p {color: #fff;}
		h1,h2,h3 {
			text-align: left;
			&:after {
				left: 0;
				transform: translateX(0);
				background-image: url(../img/dots2.png);
			}
		}
	}
	&_item {
		height: 480px !important;
		.container {
			padding-top: 100px;
			padding-bottom: 100px;
			margin-right: auto;
			h1,h2,h3,h4, p {
				max-width: 70%;
				min-width: 350px;
			}
		}
	}
}

.edo_slide {
	background: linear-gradient(71.29deg, #20658E 3.06%, #3890B6 98.49%);
	.sl-decor {
		left: auto;
		right: calc(50% - 570px);
		top: 50%;
		transform: translateY(-50%);
		width: 380px !important;
	}
}
.kassa_slide {
	background: linear-gradient(68.48deg, #A0CC54 -15.9%, #ACD565 64.42%, #E5FFB8 108.02%);
	.sl-decor {
		left: auto;
		right: calc(50% - 570px);
		bottom: 0;
		width: 380px !important;
	}
}

.pk_slide {
	background: linear-gradient(69.62deg, #FF4F4A 1.44%, #FF7B78 58.13%, #FFFFFF 108.02%);
	.sl-decor {
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 515px !important;
	}
	h1,h2,h3,h4, p {margin-left: auto;;}
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.mif {
	&_grid {gap: 40px 30px;}

	&_card {
		position: relative;
		background: #FEFEFE;
		border: 1px solid #666666;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 8px;
		display: flex;
		cursor: default;
		&:hover {img {transform: scale(1.035);}}

		.img-c {
			flex: 0 0 250px;
			height: 100%;
			width: 250px;	
			overflow: hidden;
			border-radius: 8px
		}
	}

	&_txt {
		padding: 27px 30px 20px 22px;
	}

	&_title {
		letter-spacing: 0.25px;
		color: #121212;
		font-family: $robbold;
		font-size: 20px;
		margin-bottom: 10px;
	}

	&_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: 300ms ease-out;
	}
}

.lbrect, .rtrect {
	position: relative;
	&:after {
		content: ' ';
		width: 150px; height: 150px;
		position: absolute;
		z-index: -1;
		background: #8134FF;
		border-radius: 8px;
		transition: 300ms ease-out;
	}
}

.rtrect {
	&:after {top: -14px; right: -15px;}
	&:hover:after {
		transform: translate(10px, -10px);
	}
}
.lbrect {
	&:after {left: -15px; bottom: -15px;}
	&:hover:after {
		transform: translate(-10px, 10px);
	}
}

.rass_cont {
	position: relative;
	background: linear-gradient(259.14deg, #FFCB35 9.85%, #FFA13F 56.4%, #FF7E48 123.71%, #FF0066 147.34%);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	overflow: hidden;
	padding-right: 70px;
	margin-top: 80px;
	margin-bottom: 60px;
	h2 {font-size: 26px;}
	.decor1 {
		z-index: 1;
		opacity: .15;
		left: -28px;
		bottom: -100px;
		max-width: 424px;
		max-height: 344px;
		object-fit: contain;
	}
	.decor2 {
		right: 95px; top: -41px;
		bottom: -14px;
		object-fit: contain;
		z-index: 1;
	}
	.grid2 {
		position: relative; z-index: 4; gap: 120px;
		grid-template-columns: 1.4fr 1fr;
	}

	.rtrect {
		width: max-content;
		margin-left: auto;
		&:after {top: 8px; right: -5px;}

		& + .rtrect {
			margin-left: 0;
			margin-top: 5px;
		}
	}

	h2 {
		text-align: left;
		&:after {
			left: 0;
			transform: translateX(0);
			background-image: url(../img/dots3.png);
		}
	}
}

.n {
	&_grid {
		gap: 30px;
	}
	&_card {
		box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
		background: #FFFFFF;
		font-family: $regular;
		&:hover {
			transform: translateY(-10px);

			.date {
				background: #FECA52;
			}
			.n_title {color: #FECA52;}

		}
		.img-c {
			width: 100%; height: 282px;
			position: relative;
			.date {
				position: absolute;
				padding: 21px 43px;
				background: #FDEECC;
				color: #333333;
				font-size: 14px;
				font-family: $regular;
				left: 0;
				bottom: 0;
				transition: 300ms ease-out;
			}
		}
		img {
			width: 100%; height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&_text {
		padding: 30px 25px 45px;
	}
	&_title {
		font-weight: 600;
		font-size: 20px;
		line-height: 105%;
		font-family: $semi;
		margin-bottom: 10px;
		transition: 300ms ease-out;
	}
	&_cut {
		@include cut-text();

	}
}

.offer {
	background: linear-gradient(259.14deg, #FFCB35 9.85%, #FFA13F 56.4%, #FF7E48 123.71%, #FF0066 147.34%);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px -4px 20px rgba(0, 0, 0, 0.2);

	color: #141414;


	.decor1 {
		width: 806px;
		height: 768px;
		top: -300px;
		left: -202px;
		z-index: 1;
	}

	.decor2 {
		width: 315px;
		height: 253px;
		object-fit: contain;
		right: -42px;
		bottom: 10px;
		z-index: 1;
		animation: dec2 11s infinite linear alternate;
	}

	.pseudoform {
		height: 550px;
		display: grid;
		place-items: center;
		font-size: 40px;
		text-transform: uppercase;
	}
	.girla {
		position: absolute;
		z-index: 1;
		left: calc(50% - 880px);
		height: 85%;
		width: 634px;
		object-fit: contain;
		object-position: left bottom;
		bottom: 0;
	}
	.dotted:after {
		background-image: url(../img/dots3.png);
	}

	.haya {
		font-size: 32px;
		letter-spacing: 0.25px;
		color: #000000;
		font-family: $robbold;
		text-align: center;
		position: relative;
		z-index: 3;
	}

	.container{
		position: relative;
		z-index: 4;
	}
}

@keyframes dec2 {
	0% {transform: rotate(105deg);}
	25% {transform: rotate(115deg) translate(15px, 15px);}
	50% {transform: rotate(110deg) translate(0px, 20px);}
	75% {transform: rotate(95deg) translate(-10px, 5px);}
	100% {transform: rotate(105deg);}
}