<!-- <div class="preload">
	<div class="sk-double-bounce">
		<div class="sk-child sk-double-bounce-1"></div>
		<div class="sk-child sk-double-bounce-2"></div>
	</div>
</div> -->

<header class="header">
	<div class="container flex center">

		<a href="imdex.html" class="logo-link">
			<img src="./img/logo.svg" alt="">
		</a>

		<nav class="nav flex center">
			<a href="#tarifs">Тарифы</a>
			<a href="#directors">Для директора</a>
			<a href="#secslid">Учёт.ЭДО</a>
		</nav>

		<a href="#offer" class="btn">Попробовать бесплатно</a>

	</div>
</header>

<!-- <div class="modal" id="success-send">
	<div class="modal__layer"></div>
	<div class="modal__block">
		<a href="#" class="close"></a>
		<h4>Ваша заявка успешно отправлена</h4>
	</div>
</div> -->